html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    
}

body {
    margin: 0;
}

.background-verde {
    background-color: #02A28F;
    color: white;

}

.container {
    margin: 0 9.5rem;
    font-size: 2.0rem;
    margin: 0;
}

.posts {
    margin: 0 0 1.5rem 0 ;
    width: auto;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 0.75rem 0 0.75rem 1.5rem;
    box-shadow: 0px 12px 8px rgb(223, 223, 223);
}

#navBar {
    margin: 0 9.5rem;
    background-color: #02A28F;
    padding: .8rem 0;
}

h1 {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: .8rem;
    font-weight: 700;    
}

.sideCard {
    display: none;
}

.articleSideCardDetails{
    gap: .5rem;
}

.articleSideCardDetails > p {
    font-weight: 500;
    line-height: 100%;
    margin-left: 1em;
    font-size: 12px;
}

.articleSideCardDetails > h5 {
    font-weight: 700;
    line-height: 100%;
    margin: 0 2rem .5rem 0.75rem;
    font-size: 14px;
}

#banner {
    cursor: pointer;
    width: 47.8rem;
    height: 25.4rem;
    transform: translateY(-10px);
    background-image: url(./assets/bannerarticle.svg);
    background-repeat: no-repeat;
}

.sectionSideCard{
    width: auto;
    margin: 3.1rem 0rem 0 8.3rem;
    display: flex;
    gap: 1.5rem;
}

.articleSideCard {
    width: 21.2rem;
    box-shadow: 0px 12px 8px rgb(223, 223, 223);
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;

    border-radius: 10px;
    padding: .75rem;
    cursor: pointer;
}

.titleMain {
    width: 43.5rem;
    border-radius: 8px;
    padding: 1rem  1.5rem 1rem 1.5rem;
    margin-bottom: .7rem;
    box-shadow: 0px 12px 8px rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
}

.titleMain > h1 {
    margin: 0;
    transform: translateY(1vh);
    font-size: 1.5rem;
}

h6 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #02A28F;
}

h2 {
    font-size: 1.2rem;
    width: 10.5rem;
}

h3 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #616161;
}

.date {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0 0 1rem; 
    color: #616161;
}

.texts > p {

    font-weight: 400;
    font-size: .8rem;
    width: 20.5rem;
}

.card {
    width: 22.5rem;
    border-radius: 16px;
    box-shadow: 0px 12px 8px rgb(223, 223, 223);
    cursor: pointer;
}

.cardPost {
    width: 46.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.texts {
    margin: 0 .5rem 0 .5rem;
}

.texts > p , h2, h3{
    margin: 0  0 .5rem;
}

.texts > h6{
    margin: 1rem 0 .5rem;
}

.main {
    margin: 0 9.5rem;
    display: flex;
    flex-direction: column;
    columns: auto;
}

.titleList{
    width: 22.4rem;
    height: 3rem;
    border-radius: 10px;
    padding: 0.4rem 0rem 0.4rem 0.6rem;
    box-shadow: 0px 12px 8px rgb(223, 223, 223);
}

.titleList > h1 {
    margin: 0;
    transform: translateY(1vh);
}

#names {
    padding: 0;
    list-style: none;
}

#number {
    padding: 0;
    list-style: none;
}

.cardsList{
    width: 23.1rem;
    display: flex;
    flex-direction: column;
}

.main {
    width: 22.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.cardNameAndNumber {
    width: 22.8rem;
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 0.9rem 0;
    text-align: center;
    justify-content: space-between;
}

.footer > h5 {
    font-weight: 500;
    font-size: .9rem;    
}

a {
    text-decoration: none;
    color: #616161;
    cursor: pointer;
}

ul > li {
    color: #616161;
}

@media (max-width: 768px) {
    #navBar {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    #banner{
        width: 23.6rem;
        background-image: url(./assets/bannerArticleMobile.svg);
        justify-content: center;
        transform: translateX(-7px);
        order: 1;
    }

    .sectionSideCard {
        padding-top: 1.5rem;
        margin: 0;
        width: 23.6rem;
        display: flex;
        flex-wrap: wrap;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 0.5rem;
    }

    .sideCard1 {
        display: none;
    }
    
    .sideCard {
        width: 23.6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end;
        order: 3;
    }
    .posts {
        font-size: 1.2rem;
        font-weight: 700;
        width: 21.6rem;
        height: 2.5rem;
        padding: 0.9rem 1rem 0 1rem;
        margin-bottom: 1.6rem;
        text-align: center;
    }

    .titleMain {
        font-size: 1.2rem;
        font-weight: 500;
        width: 21rem;
        height: 2.5rem;
        padding: 0.5rem 1rem .5rem 1rem;
        margin: 1.5rem 0 1.6rem 0;
        }

    .titleMain, a  {
        font-size: .8rem;
        font-weight: 400;
    }

    .articleSideCard {
        width: 29.9rem;
        height: 5rem;
    }

    .cardPost {
        width: 23rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .card {
        margin: 0;
        width: 23rem;
    }

    .card > img {
        width: 23rem;
    }

    .main {
        width: auto;
        margin: auto 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 23rem;
        align-items: center;
    }

    .titleList {
        width: 22.5rem;
    }

    .cardNameAndNumber {
        width: 23rem;
    }

    .cardsList {
        order: 3;
    }

    .mobile1 {
        order: 1;
    }
}